<body >
  <form [formGroup]='registrationForm' class="form-signin" (ngSubmit)='manualRegistration()' novalidate>

    <div class='img-circle text-center'>
      <img src="assets/logo/fitness_tracker_logo2.png" alt="logo">
    </div>
    
    <h1 class='text-md-left'>
      Challenge yourself.
      Challenge anyone.
    </h1>

    <p class="text-sm-left">
      Create your own free account to track your fitness and challenge your friends!!
    </p>

    <label for="inputEmail" class="sr-only">
      Email 
    </label>
    <input formControlName='email' id="inputEmail" class="form-control"  placeholder="Email" required autofocus>
    <mat-error *ngIf="email.invalid && email.touched">
      Email must have an @ sign! <br>
    </mat-error>
    <mat-error *ngIf='error && email.valid'>
      Already signed up with that e-mail! <br>
      Please login or sign up with a different one!!
    </mat-error>

    <label for="inputPassword" class="sr-only">
      Password
    </label>
    <input formControlName='password'type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <mat-error *ngIf="password.invalid && password.touched">
      Password must be six characters
    </mat-error>


    <div class="checkbox mb-3">
      <label>
        <input formControlName='shouldLogIn' type="checkbox" value="remember-me"> 
        Log me in
      </label>
    </div>

    <button [disabled]='email.invalid || password.invalid' *ngIf='!submitted' id='sign-in-btn' class="btn btn-lg btn-primary btn-block border: 1px solid aqua;
    border-color: #00fff0;" type="submit">
      Sign up
    </button>

    <button [disabled]='email.invalid || password.invalid' *ngIf='!submitted' class="btn btn-lg btn-primary btn-block" id='google-btn'>
        <img src="https://img.icons8.com/small/16/000000/google-logo.png">
        <span> Sign up with Google! </span> 
    </button>
    <mat-spinner *ngIf='submitted' style="margin:0 auto;"></mat-spinner>
    
  </form>

</body>

