<div class="row">
  <div class="col-12">
    <mat-card *ngFor="let post of posts" class="full-width">
      <mat-card-content>
        <div>{{ post.message }}</div>
        <div class="friends-row">
          <span class="post-date">{{ formatDate(post.date) }} by {{ post.user }}</span>
        </div>
        <div *ngIf="post.replies">
          <div *ngFor="let reply of post.replies">
            <app-message-board-reply [parent]="post" [post]="reply" [user]="user" [shouldBeGray]="!shouldBeGray"></app-message-board-reply>
          </div>
        </div>
        <form [formGroup]="formReply" (ngSubmit)="submitReply(post)">
          <mat-form-field class="full-width">
            <textarea matInput [placeholder]="getPlaceholder(post.message)" formControlName="message"></textarea>
          </mat-form-field>
          <button mat-stroked-button> Reply </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Create New Post</h3>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submitNewPost()">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="What's on your mind?" formControlName="message"></textarea>
          </mat-form-field>
          <button mat-stroked-button> Post </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>