p {
  text-align: center;
}
.bronze {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gold {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.medal {
  height: 100%;
  width: auto;
}
.podium {
  width: 90%;
}
.podium-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.silver {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}