<app-menu-bar>

</app-menu-bar>

<div class='main-container'>

  <div class="title-container">
    <div class='title'>
      <h1>
        Challenge yourself.<br>
        Challenge anyone.
      </h1>
    </div>
    <div class='title-brief'>
      <h5>
       Create your own free account to track <br />
       your fitness and challenge your friends!! 
      </h5>
    </div>
  </div>

  <div class='form-container'>
    <form class='signup-form' action="">
      <input type="text" value='Email'> <br>
      <input type="text" value='Password'> <p></p>
      <input type="submit" value="Create Account!"> 
    </form>
  </div>

  <div class="btn-container">
    <button class="google-btn">
      <img src="https://img.icons8.com/small/16/000000/google-logo.png">
      <span> Sign in with Google! </span> 
    </button>
  </div>
  
</div>

<router-outlet></router-outlet>
