<body >
    <form class="form-signin" [formGroup]='loginForm' (ngSubmit)='login()'>

      <div class='img-circle text-center'>
        <img src="assets/logo/fitness_tracker_logo2.png" alt="logo">
      </div>

      <!-- this will show the form values on the 
      login screen as they are typed in to check input -->
      <!-- login form values: {{loginForm.value | json }}
      <hr> -->
      
      <h1 class='text-center font-weight-bold'>
        Log in to your account
      </h1>

      <label for="inputEmail" class="sr-only">
        Email 
      </label>
      
      <input formControlName='email' name='username' id="inputEmail" class="form-control"  placeholder="Email" required autofocus>
      <mat-error *ngIf="email.invalid && email.touched">
        Email must have an @ sign
      </mat-error>

      <label for="inputPassword" class="sr-only">
        Password
      </label>
      <input formControlName='password' name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <mat-error *ngIf="password.invalid && password.touched">
        Password must be six characters long
      </mat-error>
      <mat-error *ngIf='error'>
        <br> Email or password incorrect!! <br>
        Please try a different login!
      </mat-error>

      <div class="checkbox mb-3">
        <label>
          <input formControlName='rememberUser' name='rememberUser' type="checkbox" value="remember-me"> 
          Remember me
        </label>
      </div>

      <button [disabled]='email.invalid || password.invalid' *ngIf='!submitted' id='sign-in-btn' class="btn btn-lg btn-primary btn-block border: 1px solid aqua;
      border-color: #00fff0;" type="submit">
        Log In 
      </button>

      <!-- <button class="btn btn-lg btn-primary btn-block" id='google-btn'>
          <img src="https://img.icons8.com/small/16/000000/google-logo.png">
          <span> Log in with Google! </span> 
        </button> -->

    </form>

  </body>
