<body >
    <form class="form-signin" #userForm="ngForm" (ngSubmit)='manualLogin()' novalidate>

      <div class='img-circle text-center'>
        <img src="assets/logo/fitness_tracker_logo2.png" alt="logo">
      </div>

      <!-- this will show the form values and user object
        details on the login screen as they are typed in to check input 
      {{userForm.value | json}}
      <hr>
      {{user | json}} -->
      
      <h1 class='text-center font-weight-bold'>
        Log in to your account
      </h1>

      <!-- <p class="text-sm-left">
        Create your own free account to track your fitness and challenge your friends!!
      </p> -->

      <label for="inputEmail" class="sr-only">
        Email 
      </label>
      <input [(ngModel)]='user.username' name='username' id="inputEmail" class="form-control"  placeholder="Email" ngModel required autofocus>
      
      <label for="inputPassword" class="sr-only">
        Password
      </label>
      <input [(ngModel)]='user.password' name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" ngModel required>
      
      <div class="checkbox mb-3">
        <label>
          <input [(ngModel)]='rememberUser' name='rememberUser' type="checkbox" value="remember-me"> 
          Remember me
        </label>
      </div>

      <button *ngIf='!submitted' id='sign-in-btn' class="btn btn-lg btn-primary btn-block border: 1px solid aqua;
      border-color: #00fff0;" type="submit">
        Log In 
      </button>

      <!-- <button class="btn btn-lg btn-primary btn-block" id='google-btn'>
          <img src="https://img.icons8.com/small/16/000000/google-logo.png">
          <span> Log in with Google! </span> 
        </button> -->

    </form>

  </body>
