.another {
    display: flex; 
    flex-wrap: wrap;
   justify-content: space-around; 
   /* width: 70%; */
   margin-bottom: 30px;
}

.col-md-4 {
    margin: 20px 5px 20px 0px;
}

mat-grid-tile {
    /* border: 1px dashed black; */
    height: 100%;
}

mat-radio-group {
    display: flex;
    flex-direction: row;
}

#sport {
    border: 2px solid rgb(19, 132, 150);
}

#distance {
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.space {
    background-color: white;
}