<div class="container">
  <div class='header'>
    <h1>All Activities</h1>
    <button (click)='back()' class="btn btn-info">Back</button>
  </div>
  <div class='btn-group col-8'>
    <mat-radio-group class='moopy btn btn-outline-info'>
      <div class="date_header">
        <h6>Days Back: </h6>
      </div>
      <mat-radio-button
            *ngFor='let date_options of date_range_options'
            [value]='date_options'
            [checked]="date_options == default"
            class="moopy"
            (change)='changeDateRange($event.value)'>
              {{date_options}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
    <hr>
  Start Date: {{start_date | date: mediumDate}}
  <hr>
  End Date: {{end_date | date: mediumDate}}
  <hr>
  <div>
    <mat-spinner *ngIf='!activities' style="margin:0 auto;"></mat-spinner>
  </div>
  <div class='row'>
    <!-- got help with table from:
    https://material.angular.io/components/sort/overview
   https://getbootstrap.com/docs/4.0/content/tables/
   https://embed.plnkr.co/SVWgs38PWGsIJP3nyQEc/ -->
    <table 
      mat-table
      [dataSource]='dataSource'
      matSort
      class='mat-elevation-z8 table table-striped table-bordered'>
        <!-- type column -->
        <ng-container matColumnDef="type">
            <th 
              mat-header-cell 
              *matHeaderCellDef 
              mat-sort-header
              class='text-center'> <h5>Activity Type</h5> 
            </th>
            <td mat-cell *matCellDef="let activity"> {{activity.type}} </td>
        </ng-container>

        <!-- measurement column -->
        <ng-container matColumnDef="measurement">
            <th 
              mat-header-cell 
              *matHeaderCellDef 
              mat-sort-header 
              class='text-center'> <h5>Measurement</h5> 
            </th>
            <td mat-cell *matCellDef="let activity"> {{activity.measurement}} </td>
        </ng-container>

        <!-- value column -->
        <ng-container matColumnDef="value">
            <th 
              mat-header-cell 
              *matHeaderCellDef 
              mat-sort-header 
              class='text-center'> <h5>Value </h5>
            </th>
            <td mat-cell *matCellDef="let activity"> {{activity.value}} </td>
        </ng-container>

        <!-- units column -->
        <ng-container matColumnDef="units">
            <th 
              mat-header-cell 
              *matHeaderCellDef 
              mat-sort-header 
              class='text-center'> <h5>Units</h5> 
            </th>
            <td mat-cell *matCellDef="let activity"> {{activity.units}} </td>
        </ng-container>

        <!-- date column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class='text-center'> <h5>Date</h5> </th>
            <td mat-cell *matCellDef="let activity"> {{activity.date | date: mediumDate}} </td>
        </ng-container>

        <!-- description column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class='text-center'> <h5>Description</h5> </th>
            <td mat-cell *matCellDef="let activity"> {{activity.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <!-- <ul *ngFor='let activity of activities'>
      <li>{{activity.type}}</li>
      <li>{{activity.measurement}}</li>
      <li>{{activity.value}} {{activity.units}}</li>
      <li>{{activity.date | date: mediumDate}}</li>
      <li>Description: {{activity.description}}</li>
    </ul> -->
  </div>
  <mat-error *ngIf='error'>
    No activities posted! Add an activity to see it here!
  </mat-error>

</div>
