<div class ="row">
  <div class="col-lg-12 header">
    <h1 style="display: inline">{{ challenge.name }}</h1>
    <button mat-stroked-button (click)="goBack()"> Back </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card [hidden]="!challengeIsOver">
      <mat-card-content>
        <app-completed-challenge [sortedParticipants]="sortedParticipants"></app-completed-challenge>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <h2 *ngIf="challenge.startDate">Duration: {{ challenge.startDate.getMonth() + 1}}/{{ challenge.startDate.getDate() }} - {{ endDate.getMonth() + 1}}/{{ endDate.getDate() }}</h2>
        <br [hidden]="challengeIsOver"/>
        <h5 [hidden]="challengeIsOver">{{ currentDays }} of {{ totalDays }} Days - {{ totalDays - currentDays }} Remaining!</h5>
        <mat-progress-bar mode="determinate" [(value)]="progress" [hidden]="challengeIsOver"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card [hidden]="challengeIsOver">
      <mat-card-content>
        <h2>Leaderboard</h2>

        <table matSort style="width:100%;">
          <tr>
            <th mat-header-cell> Position </th>
            <th mat-header-cell> Username </th>
            <th mat-header-cell> Total </th>
          </tr>
        
          <tr *ngFor="let p of sortedParticipants | slice: 0:10; let i = index">
            <td mat-cell>{{ i + 1 }}</td>
            <td mat-cell>{{ p.user.username }}</td>
            <td mat-cell>{{ p.activityTotal }}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <h2>Message Board</h2>

        <div class="container">
          <app-message-board [challenge]="challenge" [user]="user" [challengeIsOver]="challengeIsOver"></app-message-board>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <h2>Participants</h2>

        <table matSort style="width:100%;">
            <tr>
              <th mat-header-cell> Username </th>
              <th mat-header-cell> Total </th>
              <th mat-header-cell> </th>
            </tr>
          
            <tr *ngFor="let p of participants">
              <td mat-cell>{{ p.user.username }}</td>
              <td mat-cell>{{ p.activityTotal }}</td>
              <td mat-cell style="text-align: right"><button mat-stroked-button> Visit Profile </button></td>
            </tr>
          </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>