/* div {
    border: 1px dashed red;
} */

/* .row-6 {
    display: flex; 
    flex-wrap: wrap;
     justify-content: left;
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
    margin-bottom: 30px;
} */



/* #achievments {
    border: 1px dashed black;
    margin-bottom: 30px;
}

#inner {
    height: 50%;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
} */



/* #Running {
    border: 2px solid #93c47d;
}
#Biking {
    border: 2px solid #ff9900;
}
#Elliptical {
    border: 2px solid  lightcoral;
}
#Rowing {
    border: 2px solid #597eaa;
} */



#more {
    background-color: coral;
}

.inside-more {
    margin: 5px auto 5px auto;
}


