<!-- <div class='container'> -->
<body>

  <!-- profile header -->
  <h1 class='profile-name'>Profile</h1>

  <!-- gray part -->
  <app-edit-profile></app-edit-profile>


  <!-- toolbar -->
  <!-- <app-toolbar></app-toolbar> -->
  <div
    class='btn-group'>
      <button 
        type="button" 
        class="btn btn-info {{isActive1}}"
        (click)='changeToTotals()'>
          <!-- {{option}} -->
          Totals
      </button>
      <button 
      type="button" 
      class="btn btn-info {{isActive2}}"
      (click)='changeToRecords()'>
        <!-- {{option}} -->
        Records
    </button>
  </div>

  <!-- activities data -->
  <div *ngIf='active1'>
    <app-activities-totals></app-activities-totals>
  </div>
  <div *ngIf='active2'>
    <app-activities-records></app-activities-records>
  </div>
  
  <!-- not sure what si going here -->
  <!-- <div id='more' class='rounded row-6'>
      <div class='inside-more'>
        <h3>More Here!</h3>
      </div>
  </div> -->
</body>