 div {
    border: 1px dashed red;
}


button {
    border: 1px dashed green;
} 

.name-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-edit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

/* 
.header-col > h1, h6 {
    border: 1px dashed red;
} */

/* .fa-edit {
    position: relative;
    margin: 1px;
    padding: 1px;
    top: 1.5em;
} */

.header-edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-bottom: 0; */
    /* border: 1px solid black; */
}


img {
    /* border: 1px dashed red; */
    margin: 0 0 5px 0;
    padding: 2px;
}

.shoop {
    background-color: whitesmoke;
    border: none;
    font-size: 2em;
    
}

.shoop::placeholder {
    color: grey;
    font-weight: bold; 
}

.header-col{
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    background-color: whitesmoke;
}

.header-col > h1 {
    margin: 0 0 0 0;
}

.header-col > h6 {
    padding: 0 0 0 0;
}

.b {
    margin: 0 0 0 0;
}

.user-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}