<div class='rounded header-col'>
  <div class='header-edit'>
    <h1 *ngIf='!edit'>{{user.username}}</h1>
    <input [(ngModel)]='new_profile.username' *ngIf='edit' class='shoop' type="text" placeholder="{{user.username}}" [disabled]='edit_btn_disabled'>
    <!-- <i *ngIf='edit' class="far fa-edit"></i> -->
  
    <img src={{user.photoURL}} 
    class="img-circle decision-button-svg">
    <div 
      class="b row col-12 justify-content-between">
      <!-- <hr>
      NEW:
      {{new_profile | json}}
      <hr>
      USER:
      {{user | json}}
      <hr> -->
      <div class="row col-12">
        <div class='col-4'>
          <h5 class='col-4' *ngIf='!edit'>{{user.location}}</h5>
          <input [(ngModel)]='new_profile.location' *ngIf='edit' class='shoop' type="text" placeholder="{{user.location}}" [disabled]='edit_btn_disabled'>
        </div>
        <div class="col-6">
          <h5 *ngIf='!edit'>{{user.firstName}} , {{user.lastName}}</h5>
          <input [(ngModel)]='new_profile.firstName' *ngIf='edit' class='shoop col-8' type="text" placeholder="{{user.firstName}}" [disabled]='edit_btn_disabled'>
          <input [(ngModel)]='new_profile.lastName' *ngIf='edit' class='shoop col-8' type="text" placeholder="{{user.lastName}}" [disabled]='edit_btn_disabled'>
        </div>
        <div class="col-6">
          <h5 *ngIf='!edit'>{{age}}</h5>
          <input [(ngModel)]='new_profile.dateOfBirth' *ngIf='edit' class='shoop col-8' type="text" placeholder="{{user.dateOfBirth}}" [disabled]='edit_btn_disabled'>
        </div>
      </div>
    <!-- </div> -->
  </div>
    <!-- <div class="col-4">
      <h5 class='col-2' *ngIf='!edit'>{{user.lastName}}</h5>
      <input [(ngModel)]='new_profile.lastName' *ngIf='edit' class='shoop' type="text" placeholder="{{user.lastName}}" [disabled]='edit_btn_disabled'>
    </div> -->
    <button 
      *ngIf='!edit'
      type='button'
      class="btn btn-info btn-sm"
      (click)='editProfile()'>
        Edit
    </button>
    <button 
      *ngIf='edit'
      type='button'
      class="btn btn-info btn-sm"
      (click)='saveProfile()'>
        Save
    </button>
  </div>
</div>
