@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-element {
  margin-bottom: 20px;
}
.form-element-header {
  margin-bottom: 15px;
}
.full-width {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mat-card {
  margin-top: 1%;
  margin-bottom: 1%;
}
.mat-radio-button {
  margin: 0 5px;
  margin-bottom: 2%;
}
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}