@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.add-entry {
  width: 100%;
  margin: 5px;
}
.drop-down {
  font-size: 2em
}
.form-element {
  margin-bottom: 20px;
}
.form-element-header {
  margin-bottom: 15px;
}
.friends-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.full-width {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.mat-card {
  margin-top: 1%;
  margin-bottom: 1%;
}
.mat-radio-button {
  margin: 0 5px;
  margin-bottom: 2%;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: lightgrey;
}
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radio-buttons-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.row {
  margin-top: 20px; 
  margin-bottom: 20px;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.decision-button-svg {
  height: 8em; 
  width: auto;
}
.post-date {
  font-size: .75em;
}
.profile-name {
  font-size: 5em;
}

.col-lg-6 {
  padding: 5px;
}

.decision-button {
  height: 75%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
