<body>
  <div class ="jumbotron">
      <h1 *ngIf="user" class='profile-name'>
        <div class="welcome-name-container">
          <div class="welcome-container">
            Welcome,
          </div>
          <div *ngIf='user.firstName' class="user-first-name-container">
            {{user.firstName}}
          </div>
          <div *ngIf='!user.firstName' style='position: relative; top: 30px;' class="col-8">
              <h1>
                (Add name)
              </h1>
          </div>
        </div>
      </h1>
      <mat-spinner *ngIf='!user.username' style="margin:0 auto;"></mat-spinner>
      {{user.username}} 
      <p> {{date | date: mediumDate}} </p>
  </div>

  <div class ="row">
    <div *ngFor="let category of categories" class="col-6 decision-button">
        <a
         routerLink="/{{category.value}}">
         <img class="decision-button-svg" [src]="category.location" [alt]="category.view"/>
        </a>
        <p>{{ category.view }}</p>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</body>


