<app-menu-bar>

</app-menu-bar>

<div class='main-container'>
    
  <div class="title-container">
    <div class="img">
        <p>Picture Here!</p>
    </div>
    <div class="greeting">
      <h1><span>Hello Username!</span></h1>
    </div>
    <div class="date-time">
      <span>Tuesday March 3rd, 5:06PM</span>
    </div>
  </div>

  <div class="challenges-container">
    <div class="current-challenges">
      <h3>Current Challenges</h3>
      <ul>
        <li>No current challenges</li>
      </ul>
    </div>
    <div class="upcoming-challenges">
      <h3>Upcoming Challenges</h3>
      <ul>
        <li>No upcoming challenges</li>
      </ul>
    </div>
  </div>

  <div class="activities-container">
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Create Challenges</p>
    </div>
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Add Activity Minutes</p>
    </div>
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Message Friends</p>
    </div>
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Profile</p>
    </div>
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Find Friends</p>
    </div>
    <div class="activity">
      <div class="icon">icon here</div>
      <p>Other</p>
    </div>
  </div>

<!-- end main container -->
</div> 


<router-outlet></router-outlet>
