<body>
  
  <div class ="jumbotron">
      <h1 *ngIf="user" class='profile-name'>Welcome, {{user.username}}</h1>
      <p> {{date | date: mediumDate}} </p>
  </div>

  <div class="row-6 list-group" id='challenges'>
    <ul>
      <li class="list-group-item list-group-item-primary">
        <h3>Challenges snapshot:</h3>
      </li>
      <li class="list-group-item">No current challenges</li>
      <li class="list-group-item">No upcoming challenges</li>
    </ul>
  </div>

  <div class ="row">
    <div *ngFor="let category of categories" class="col-6 decision-button">
        <a
         routerLink="/{{category.value}}">
         <img class="decision-button-svg" [src]="category.location" [alt]="category.view"/>
        </a>
        <p>{{ category.view }}</p>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</body>


