 /* div {
     border: 1px dashed red;
 } */
 
 .jumbotron {
     /* margin-top: 10px; */
     margin-bottom: 0;
 }


.row-6 {
    margin: 30px;
    padding: 10px;
}

.col-6 {
    padding: 10px;
}

.welcome-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-first-name-container {
    padding: 0 0 0 20px;
}